@model List<ExamApplication.Business.Models.Lessons.LessonDto>

@{
    ViewBag.Title = "Dərslər";
    Layout = "_Layout";
    int i = 0;
}

    <div class="container-fluid px-5 py-5">

      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr class="table-primary">
              <th scope="col">#</th>
              <th scope="col">Dərsin adı</th>
              <th scope="col">Dərsin kodu</th>
              <th scope="col">Dərsin keçirildiyi siniflər</th>
            </tr>
          </thead>
          <tbody>
          @foreach (var lesson in Model)
          {
            <tr>
              <th scope="row">@(++i)</th>
              <td>@lesson.Name</td>
              <td>@lesson.Code</td>
              <td>@string.Join(", ", lesson.Grades)</td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>

