@model System.Collections.Generic.List<ExamApplication.Business.Models.Grades.GradeDto>

@{
    ViewBag.Title = "Siniflər";
    Layout = "_Layout";
    int i = 0;
}

<div class="container-fluid px-5 py-5">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Sinifin nömrəsi</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var grade in Model)
            {
                <tr>
                    <th scope="row">@(++i)</th>
                    <td>@grade.Value</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>